*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
main{
    width: 90%;
    margin: 30px auto 160px;
    min-height: 400px;
    background: white;
    padding: 30px 25px;
    box-shadow: 0 5px 10px 0;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #0033e6;
}
.botao-principal {
    text-decoration: none;
    display: block;
    background: #0033e6;
    padding: 10px 30px;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
    border: 1px solid #0033e6;
}
.botao-principal:hover{
    color: #0033e6;
    background: white;
}
input[type="text"], input[type="number"] {
    background: #bbbbbb;
    border: 1px solid #0033e6;
    height: 30px;
    margin: 5px 0;
    width: 80%;
    padding: 2px 15px;
    border-radius: 3px;
    color: #0033e6;
}
input[type="submit"]{
    margin: 5px 0;
}
hr{
    width: 100%;
    height: 1px;
    background: #0033e6;
}
th{
    background: #0033e6;
    color: white;
}
td{
    background: #bbbbbb;
}
#categorias{
    border-radius: 5px;
    margin: 5%;
    width: 90%;
    border: #0033e6 1px solid;
    text-align: center;
}
.form-item{
    margin-left: 1.4%;
    text-align: right;
}
#bloco-cadastro{
    border-radius: 5px;
    margin: 5%;
    width: 90%;
    border: #0033e6 1px solid;
}
#id, #nome, #descricao{
    margin: 3px 10% 3px 0.1%;
}