/*header{
    top: 0;
    width: 100%;
    height: 100px;
    background: lightblue;
    vertical-align: middle;
}*/
#fundo-transparente{
    text-align: center;
    background: black;
    min-height: 643px;
    height: 100%;
    top:0;
    /*z-index: -1;*/
    box-shadow: 0 5px 10px 0;
    opacity: 90%;
    /*position: absolute;    */
}
.fundo-total{
    color: white;
    /*background: black;*/
    margin: auto;  
}