*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url("https://www.ignboards.com/proxy.php?image=https%3A%2F%2Fi.imgur.com%2Fm7pi7VR.gif&hash=400c131506fe06e931bb932778597932");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: auto;
    /*display: grid;
    grid-template-columns: 1fr 5fr 1fr;*/
}
#logo{
    float: left;
    background-color: red;
    vertical-align: middle;
    display: inline-block;
}
#logo a img{
    height: 100px;
    vertical-align: middle;
}

/* CADASTRO */
.form-item{
    margin-left: 5%;
    text-align: right;
}
#id, #nome, #genero, #qtTp, #qtEp{
    border: 2px solid #5b54e2;
    background: gray;
    margin: 3px 61% 3px 0.1%;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */