<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="Content/css/header.css" rel="stylesheet" />
    <link href="Content/css/page.css" rel="stylesheet" />
    <link href="Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="logo">
            <a href="Default.aspx">
                <img src="Content/images/1106188_1.png" />
            </a>
        </div>
        <h2>AnimeList</h2>
        <nav id="menu-principal">
            <ul>
                <li>
                    <a href="/Home/Cadastro">Cadastrar</a>
                    <a href="/Home/Lista">Listar</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
        <form id="form1" runat="server">
            
        </form>
    </main>
</body>
</html>